main {
    /* margin-top: 60px; */

    display: flex;
    flex-direction: column;
    /*垂直排*/
    align-items: center;
    /*副軸(水平)置中*/

    font-family: 'Noto Sans TC', sans-serif;
}

#banner #news {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    background-image: url(../images/news/banner_big.png);
    background-size: cover;
    background-position: center;

    /*object-fit: cover; 會覆蓋且自動置中*/
    width: 100%;
    height: 220px;
}